@use '../mixins' as *;
@use '../colors' as *;

.detailsPage {
  @include container;
  background-color: $white;
}

.backBtn {
  padding: 0.5em 1.5em;
  border: transparent;
  background-color: $white;
  vertical-align: middle;
  margin-bottom: 4em;
  cursor: pointer;
  @include shadow;

  svg {
    margin-right: 0.4em;
  }
}

.content {
  display: flex;
  gap: 8em;

  img {
    width: 50%;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.info {
  display: flex;
  gap: 4em;

  p {
    margin-bottom: 0.6em;
  }

  span {
    font-weight: 600;
  }
}

.borders {
  display: flex;
  align-items: start;

  p {
    font-weight: 600;
    white-space: nowrap;
    margin-block: 0.6em;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    margin-block: 0.6em;
    margin-left: 0.3em;
  }
}
