@use '../mixins' as *;
@use '../colors' as *;

.tag {
  text-decoration: none;
  background-color: var(--elements-color);
  color: inherit;
  padding: 0.2em 1em;
  margin-left: 0.5em;
  @include shadow(2px, 2px);
}
