@use '../colors' as *;
@use '../mixins' as *;

.header {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include container();
  padding-block: 1em;
  position: relative;
  z-index: 1;
  @include shadow();
}

.header h1 {
  font-size: 1.4em;
  font-weight: 800;
}

.header button {
  background-color: transparent;
  border: transparent;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 650px) {
  .header {
    @include container(1.2em);
  }
}
