@use '../mixins' as *;

.container {
  width: 30%;
  background-color: var(--elements-color);
  color: var(--input-text-color);
  padding-inline: 1em;
  @include shadow();
  @include border-shape();
}

.container input {
  background-color: inherit;
  color: inherit;
  border: transparent;
  outline: transparent;
  width: 80%;
  height: 100%;
  padding: 1em 2em;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
}

@media (max-width: 650px) {
  .container {
    width: 100%;
  }
}
