/* dark mode */
/* elements */
$dark_blue: hsl(209, 23%, 22%);
/* bg */
$very_dark_blue_darkM: hsl(207, 26%, 17%);

/* light mode */

/* text */
$very_dark_blue_lightM: hsl(200, 15%, 8%);
/* input */
$dark_gray: hsl(0, 0%, 52%);

/* bg */
$very_light_gray: hsl(0, 0%, 98%);

/* dark mode text and light mode elements */
$white: hsl(0, 0%, 100%);
