/* dark mode */
/* elements */
$dark-blue: hsl(209, 23%, 22%);
/* bg */
$very-dark-blue-darkM: hsl(207, 26%, 17%);

/* light mode */

/* text */
$very-dark-blue-lightM: hsl(200, 15%, 8%);
/* input */
$dark-gray: hsl(0, 0%, 52%);

/* bg */
$very-light-gray: hsl(0, 0%, 98%);

/* dark mode text and light mode elements */
$white: hsl(0, 0%, 100%);
